#wrapper
{
	width : 960px;
	height: auto;
	margin: 0px auto;
	position: relative;
}

#header
{
	width : 960px;
	height: 100px;
	background: url("images/header.png") no-repeat;
	border-radius: 20px 20px 0px 0px;

}

#login
{
	float: right;
	margin :5px;
	font-size: 15px;
	color: white;
	position: relative;
}

#login a
{
	text-decoration: none;
	font-weight: bold;
	color: lightBlue;
}

#login a:hover
{
	color: magenta;
}

.submit
{
	background: url("images/button.png");
	width: 70px;
	height: 25px;
	color: white;
	border-radius: 5px;
}

.submit:hover
{
	font-weight: bold;
	color: violet;
	opacity: 0.6;
}

#navigation
{
	width: 960px;
	height: 50px;
	background-color: black;
	border-top: 1px solid black;
}

#runningtext
{
	background-color: darkMagenta;
	color: white;
	height: 25px;
}

#slider
{
	width: 960px;
	height: 280px;
	margin: 0px;
	border-top: 1px solid black;
}

#content
{
	width: 960px;
	height: auto;
}

#sideleft
{
	float: left;
}

#kategori
{
	width: 200px;
	height: 530px;
	background-color: lavender;
	
}
#belanja
{
	position: relative;
	width: 200px;
	height: 62px;
	background-color: lavender;
	margin-bottom: 2px;
}

#sidecenter
{
	width: 570px;
	height: 610px;
	float: left;
	margin: 0px auto;
	position: relative;
}

#allgambar
{
	width: 570px;
	height: 610px;
	float: left;
	margin: 0px auto;
}

#carapesan
{
	width: 570px;
	height: 610px;
	float: left;
	
}
#daftarmember
{
	width: 570px;
	height: 350px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -400px;
	border: 1px solid purple;
	border-radius: 20px;
	background-color: plum;
}

#carapesan h3, #daftarmember h3
{
	text-align: center;
	color: darkMagenta;
	font-weight: bold;
}


#carapesan #satu , #carapesan #tiga
{
	text-align: justify;
	font-size: medium;
	margin: 5px;
}

#carapesan #dua 
{
	text-align: center;
	font-size: medium;
	margin: 5px;
}


#carapesan form
{
	margin-left: 100px;
	margin-top: 30px;
}
.gambar
{
	width: 120px;
	height: 180px;
	text-align: center;
	font-weight: bold;
	color: darkMagenta;
	float: left;
	margin: 10px;
	border: 1px solid darkViolet;
}

#sideright
{
	width: 186px;
	height: 620px;
	float: right;
	background-color: lavender;
}
#fsearch
{
	width: 186px;
	height: 70px;
}

#profil
{
	width: 186px;
	height: 110px;
}

#bayar
{
	width: 186px;
	height: 240px;
	text-align: center;	
}

#jne
{
	width: 186px;
	height: 200px;
	text-align: center;

}

.textongkir
{
	border-radius: 5px;
	width: 136px;
	height: 15px;
}

#kategori img
{
	margin-bottom: 0px;
}

#kategori ul
{
	list-style-type: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

dl
{
	width: 200px;
	margin: 0px;
}

dd
{
	margin: 1px;
	background-color: lavender;
}

dt
{

	background: darkMagenta; 
	font-size: 20px;
	font-weight: bolder;
	padding: 10px;
	margin: 1px;
	display: block;
}

dt a
{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

dt:hover
{
	background-color: blueViolet;
	font-weight: bold;
}

dd a
{
	color: #000;
	text-decoration: none;
}

dd a:hover
{
	color: darkMagenta;
	font-weight: bold;
}

#footer
{
	width: 960px;
	height: 50px;
	background: url("images/header.png");
	border-radius: 0px 0px 20px 20px;
	color: white;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: center;
}

#footer a
{
	color: slateGray;
}


#navigation ul li
{
	float: left;
	list-style-type: none;
	margin-right: 45px;
	padding: 4px;
	
}

#navigation ul li a
{
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	color: white;
}

#navigation ul li a:hover
{
	color: darkMagenta;
	font-weight: bold;
}

.clear
{
	clear: both;
}

.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;	
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.9) repeat scroll;
    opacity: 0;
    z-index:-50;
}

#loadinglogin {
	float: right;
	margin :5px;
}

#loadingBox {
	position: absolute;
	display: none;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	border-radius: 10px;
}

#rincian
{
	margin-left: 30px;
	margin-top: 20px;
	width: 500px;
	height: 350px;
	background-color: thistle;
	border: 2px solid purple;
	border-radius: 10px
}
#rincian2
{
	float:left;
	margin: 30px;
}

#rincian2 img
{
	width: 200px;
	height: 250px;
}

#rincian3
{
	float: left;
	margin: 30px;
}

#profilku
{
	margin-left: 30px;
	margin-top: 20px;
	width: 500px;
	height: 580px;
	overflow: scroll;
	background-color: thistle;
	border: 2px solid purple;
	border-radius: 10px
}

#profilku2
{
	float:left;
	margin-left: 30px;
	margin-right: 20px;
}

#profilku2 img
{
	width: 150px;
	height: 170px;

}

#profilku3
{
	float:left;
	
}

#sub1
{
	margin-left: 25px;
}

.addtocart, .hapus
{
	cursor: pointer;
}

#tampilcart
{
	margin-left: 30px;
	position: relative;
}

#search123
{
	padding-left: auto;
	padding-right: auto;
	margin-left: 30px;
	margin-top: 20px;
	width: 500px;
	height: 500px;
	overflow: scroll;
	background-color: thistle;
	border: 2px solid purple;
	border-radius: 10px;
	position: absolute;
}

